data
# data/csv/*/
# data/parlaw
# data/plots
# data/party_maps
# data/embeddings
.vscode
report/build
**/.DS_Store
**/__pycache__/
tf_idf_ratings_Jakob.csv
tf_idf_ratings_quirin.csv
experiments/pre0_time_range.ipynb